package ${properties.packageName};

import android.databinding.DataBindingUtil;
import android.os.Bundle;

import android.support.annotation.Nullable;
import android.support.annotation.LayoutRes;

class ${properties.className}Util {
    static void bind(final ${properties.className} bindee) {
        final @LayoutRes int layout = ${properties.layout};
        bindee.setContentView(layout);
#foreach($binding in $properties.bindings)

        final @LayoutRes int ${binding.name}Id = ${binding.layout};
        bindee.${binding.name} = DataBindingUtil.setContentView(bindee, ${binding.name}Id);
#end
#foreach($viewModel in $properties.viewModels)

        bindee.${viewModel.field} = new ${viewModel.className}();
        bindee.${properties.binding.name}.${viewModel.property}(bindee.${viewModel.field});
#end
    }
}